html,
body,
#map-view {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 95vh;
}

#footer {
    padding: 0;
  margin: 0;
  width: 100%;
  height: 5vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
